{% extends 'base.html' %}

{% block content %}

<article>

    <h1>Mechanics</h1> 

    <p id="add-record-wrapper">
        <a id="add-record" href="/mechanics/new">&#43;</a>
    </p>

    <table class="data-area">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>

            <th></th>

            <th>MOT Qualified</th>

            <th></th>
        </tr>
        {% for mechanic in all_mechanics %}
        <tr>
            <td>{{mechanic.first_name}}</td>
            <td> {{mechanic.last_name}}</td>

            <td><a href="/mechanics/{{ mechanic.id }}">Cars Repaired</a></td>

            {% if mechanic.mot_qualified %}
                <td>
                    <form action="/mechanics/{{ mechanic.id }}/mot_toggle" method="POST">
                        <input class="mot-qual" type="submit" value="✅" />
                    </form>
                </td>
            {% else %}
                <td>
                    <form action="/mechanics/{{ mechanic.id }}/mot_toggle" method="POST">
                        <input class="mot-qual" type="submit" value="🚫" />
                    </form>
                </td>
            {% endif %}

            <!-- 
            "ON DELETE CASCADE," in the sql/ddl create table for repairs allows easier deletion of mechanics.
            -->
            <td>
                <form action="/mechanics/{{ mechanic.id }}/delete" method="POST">
                    <input class="btn btn-delete" type="submit" value=&#128465; />
                </form>
            </td>
        </tr>
        {% endfor %}

    </table>

</article>

{% endblock %}
