{% extends 'base.html' %}

{% block content %}

<article>

    <h1>Mechanics</h1> 

    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>MOT Qualified</th>
            <th></th>
        </tr>
        {% for mechanic in all_mechanics %}
        <tr>
            <td>{{mechanic.first_name}}</td>
            <td> {{mechanic.last_name}}</td>

            {% if mechanic.mot_qualified %}
                <td>✅</td>
            {% else %}
                <td>🚫</td>
            {% endif %}

            <td><a href="/mechanics/{{ mechanic.id }}">Vehicles Worked On</a></td>
        </tr>
        {% endfor %}

    </table>

</article>

{% endblock %}
