{% extends 'base.html' %}

{% block content %}

<h1>Add New Mechanic</h1>

<form class="form-data" action="/mechanics" method="post">

    <input type="text" id="fname" name="first_name" placeholder="First Name" required>

    <br>

    <input type="text" id="lname" name="last_name" placeholder="Last Name" required>

    <br>

    <select name="mot_qualified" id="mot" required>
        <option value="" disabled selected>MOT Qualified?</option>
        <option value="True">Yes</option>
        <option value="False">No</option>
    </select>

    <br>

    <input class="btn btn-submit" type="submit" value="Add">

</form>

{% endblock %}