{% extends 'base.html' %}

{% block content %}

<article>

    <h1>{{mechanic.first_name}} {{mechanic.last_name}}</h1> 

    <h3>Repaired the following vehicles:</h3>

    <section>

        <table>
            <tr>
                <th>Registration Number</th>
                <th>Make</th>
                <th>Repairs Done</th>
            </tr>
            {% for car in cars_repaired %}
            <tr>
                <td>{{car.registration_number}}</td>
                <td>{{car.make}}</td>
                <td><a href="/repairs/{{ car.id }}">Details</a></td>
            </tr>
            {% endfor %}
    
        </table>

    </section>

</article>

{% endblock %}
