{% extends 'base.html' %}

{% block content %}

<article>

    <h1>Cars:</h1> 

    <table>
        <tr>
            <th>Registration</th>
            <th>Make</th>
            <th>Model</th>
            <th>MOT Renewel Date</th>
            <th></th>
        </tr>
        {% for car in all_cars %}
        <tr>
            <td>{{car.registration_number}}</td>
            <td>{{car.make}}</td>
            <td>{{car.model}}</td>
            <td>{{car.mot_renewal_date}}</td>
            <td><a href="/cars/{{ car.id }}">Worked On By</a></td>
        </tr>
        {% endfor %}

    </table>

</article>

{% endblock %}