{% extends 'base.html' %}

{% block content %}


<article>

    <h1>{{car.registration_number}} {{ car.make }}</h1> 

    <h3>Repaired By:</h3>

    <section>

        <table>
            <tr>
                <th>Mechanic</th>
                <th></th>
                <th>Repairs</th>
            </tr>
            {% for mechanic in mechanics %}
                <tr>
                    <td>{{mechanic.first_name}}</td>
                    <td>{{mechanic.last_name}}</td>
                    <td><a href="/repairs/{{mechanic.id}}/{{ car.id }}">Details</a></td>
                </tr>
            {% endfor %}
    
        </table>

    </section>

</article>

{% endblock %}