.home-page{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 1.1em;
}

section {
    font-size: 1.2em;
}

.main-banner {
    display: flex;
    justify-content: space-between;
    align-items: centre;
    padding: 0px 0px;
    background-color: gray;
    border-radius: 10px;
}

.main-banner h1 {
    /*color: white;*/
    color: silver;
    margin-left: 35px;
}

.article-top {
    display: flex;
    justify-content: space-between;
    align-items: centre;
    padding: 0px 0px;
    border-radius: 10px;
}
.article-top h1{
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
}
#add-record{
    margin-right: 50px;
}


.nav_links{
    list-style: none;
    margin-right: 35px;
}

.nav_links li {
    display: inline-block;
    font-size: 1.3em;
    background-color: rgb(100, 100, 100);
    border-radius: 5px;
    margin: 10px 10px 0px 0px;
    padding: 5px 10px 10px 10px;
} 

.nav_links li a {
    transition: all 0.3s ease 0s;
    /*color: white;*/
    color: white;
}

.nav_links li a:hover {
    color: yellowgreen;
    padding: 5px; /* This will make the link stand out a bit more */
}

.data-area{
    background-color: rgb(233, 233, 233);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1%;
}

.data-area td{
    padding: 3px 10px;
}

/*
The following two css selectors are to gray-out the placeholders in the
select options when creating new records, repairs or mechanics etc.
*/
select:required:invalid {
    color: gray;
}
option[value=""][disabled] {
    display: none;
}


.form-title{
    margin-left: 300px;;
}
/* All input fields should look the similar */
.form-data{
    margin-left: 300px;
}

.form-data input, .form-data select {
    width: 200px;
    border: solid 3px gray;
    font-size: 1em;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.form-data textarea {
    border: solid 3px gray;
    font-size: 1em;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.form-data input:hover, textarea:hover, select:hover {
    border: solid 3px #7ac7c8;
}
.form-data input:focus, textarea:focus, select:focus {
    border: solid 3px #1515cc;
}
.form-data input:focus {
    width: 200px;
}
.form-data textarea:focus {
    width: 500px;
}

.btn-submit{
    margin-top: 25px;

}

#add-record{
    background-color: rgb(233, 233, 233);
    color: blue;
    border: solid 3px blue;
    padding: 0px 10px;
    margin-left: 15px;
    border-radius: 5px;
    font-size: 2.5em;
    font-weight: bolder;
    text-decoration: none;
}

#add-record:hover {
    background: powderblue;
    border: solid 3px black;
}

.mot-qual{
    background-color: rgb(233, 233, 233);
    text-decoration: none;
    border: none;
}

.btn-delete{
    /* color: white;  */
    background-color: rgb(233, 233, 233);
    border: solid 3px red;
    padding: 5px;
    border-radius: 5px;
    font-size: 1em;
}

.btn-delete:hover {
    background: yellow;
    border: solid 3px black;
}

.btn-edit{
    background-color: rgb(233, 233, 233);
    border: solid 3px black;
    padding: 5px;
    border-radius: 5px;
    font-size: 1em;
}

.btn-edit:hover {
    background: powderblue;
    border: solid 3px blue;
}

