section {
    font-size: 1.2em;
}

.main-banner {
    display: flex;
    justify-content: space-between;
    align-items: centre;
    padding: 0px 0px;
    background-color: gray;
}

.main-banner h1 {
    /*color: white;*/
    color: silver;
    margin-left: 35px;
}

.nav_links{
    list-style: none;
    margin-right: 35px;
}

.nav_links li {
    display: inline-block;
    font-size: 1.3em;
    background-color: rgb(100, 100, 100);
    border-radius: 10%;
    padding: 10px;
} 

.nav_links li a {
    transition: all 0.3s ease 0s;
    /*color: white;*/
    color: white;
}

.nav_links li a:hover {
    color: yellowgreen;
    padding: 5px; /* This will make the link stand out a bit more */
}

.data-area{
    background-color: rgb(233, 233, 233);
    padding: 10px;
    margin: 5px;
    border-radius: 1%;
}

.data-area td{
    padding: 3px 10px;
}

.btn-delete{
    background: rgb(212, 31, 31);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 1%;
    font-size: 1em;
}

/*
The following two css selectors are to gray-out the placeholders in the
select options when creating new records, repairs or mechanics etc.
*/
select:required:invalid {
    color: gray;
}
option[value=""][disabled] {
    display: none;
}