header {
    display: flex;
    justify-content: space-between;
    align-items: centre;
    padding: 15px 5px;
    background-color: gray;
}

.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    font-size: 1.3em;
    background-color: rgb(100, 100, 100);
    border-radius: 10%;
    padding: 5px 10px;
} 

.nav_links li a {
    transition: all 0.3s ease 0s;
    color: white;
}

.nav_links li a:hover {
    color: powderblue;
    background-color: black;
    padding: 5px 10px;
    border-radius: 10%;
}